.locationInfoBox{
    background-color: #14417c;
    
    border-color: black;
    margin: auto;
    
  
    text-align: -webkit-center;

    position: relative;
   
    padding: 0.5rem ;
    width: 70%;
    
    
}
#locationinfo{
    height: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    background-color: #060916af;
    padding: 0.5rem;
}
#locationName{
    background-color: black;
}
.locationName{
    background-color: black;
}



#background{
    position: fixed;
    align-items: center;
    background-color: #14417c;
    
    height: 100vh;
    width: 100vw;
    
    
}
#miniBg{
    position: relative;
    background-image: url('weather2reprise.png');
    background-size: cover;
    height: 50%;
    width: 100%;
    
}

#myContainer{
    align-items: center;
    height: 100vh;
    
}
#testTable{
    background-color: aliceblue;
    border: 1cm;
    border-color: aquamarine;
    min-width: -webkit-fill-available;
    
}
.tableField{
    background-color: #14417c;
    padding: 0.5cm;
    border-style: groove;
    
}
